<!-- <router-outlet></router-outlet> -->

<body>
    <section>
        <nav>
            <ul class="titulo">
                <a href="https://www.linkedin.com/in/bisiachlucio" class="contacto"><i class="fa fa-linkedin"></i></a>
                <a href="https://vsco.co/bisiachlucio/gallery" class="contacto"><i class="fa fa-first-order"></i></a>
                <a href="mailto:l.bisiach@gmail.com" class="contacto"><i class="fa fa-envelope-square"></i></a>
                <a href="https://github.com/LucioBisiach" class="contacto"><i class="fa fa-github"></i></a>

                <h2>
                    <strong>
                        Bisiach Lucio
                    </strong>
                </h2>
                <h4>
                    Desarrollador de Software
                </h4>
            </ul>
        </nav>
    </section>
    <section class="splash justificar">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <img src="../assets/img/slpash1.png" alt="logo" class="logo">
            </div>
            <div class="col-md-3">
                <img src="../assets/img/splash2.png" alt="logo" class="logo">
            </div>
            <div class="col-md-3">
            </div>

        </div>
    </section>
    <br>
    <section class="espacio centrar">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <hr>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </section>
    <section class="about justificar">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="titulitos"><strong>Sobre mi</strong></h1>
                </div>
                <div class="col-md-6 acercade-texto">
                    <p><strong>Hola! Soy Bisiach Lucio, de Rosario, estudiante de Desarrollo de Software. Intento traer ideas a la vida, a través líneas de código.</strong></p>
                    <br>
                    <p>
                        Cursando mi último año de la carrera <strong>Desarrollador de Software</strong>. Trato de plasmar todo lo que sé y lo que no busco la forma de lograrlo. Hoy en día estoy desarrollando junto con otros programadores un sistema de
                        géstion de servicios, para la plataforma Odoo.
                    </p>
                    <br>
                    <p>
                        En mi tiempo libre juego al basquet, me encanta la fotografía y la musica.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="espacio centrar">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <hr>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </section>
    <section class="education justificar">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-3">
                <h1 class="titulitos"><strong>Formación</strong></h1>
            </div>
            <div class="col-md-1">
                <i class="fa fa-book space-icons"></i>
            </div>
            <div class="col-md-4 textitos">
                <div class="container">
                    <p class="contenido">
                        <strong>Desarrollador de Software</strong>
                        <br> Actualmente cursando mi último año - IB Rosario
                    </p>
                </div>
                <br>
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-1">
                <i class="fa fa-bookmark space-icons"></i>
            </div>
            <div class="col-md-4 textitos">
                <div class="container">
                    <p class="contenido">
                        <strong>Cursos</strong>
                        <br>
                        <li>
                            Javascript (En curso) - Escuela DevRock
                        </li>
                        <li>
                            HTML for Babies - Escuela DevRock
                        </li>

                        <li>
                            Sistemas Operativos GNU/Linux - IZO Rosario
                        </li>
                        <li>
                            Fotografía Digital - Peña Fotográfica
                        </li>
                        <li>
                            Diseño Páginas Web - UTN Rosario
                        </li>
                    </p>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </section>
    <section class="espacio centrar">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <hr>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </section>
    <section class="project espacio justificar">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-3">
                <h1 class="titulitos"><strong>Proyectos</strong></h1>
                <br>
            </div>
            <div class="col-md-1">
                <img src="../assets/img/logo.png" alt="logo-odoo" class="logo-proyect">
            </div>
            <div class="col-md-4 textitos">
                <div class="container">
                    <p class="contenido">
                        <strong>Transport Manager</strong>
                        <br> Sistema de gestión para empresas de Transporte.
                    </p>
                    <a href="https://github.com/LucioBisiach/transport_manager"><i class="fa fa-github"></i></a>
                </div>
                <br>
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-1">
                <img src="../assets/img/logo.png" alt="logo-odoo" class="logo-proyect">
            </div>
            <div class="col-md-4 textitos">
                <div class="container">
                    <p class="contenido">
                        <strong>Task to Sale/Purchase Order</strong>
                        <br> Extensión para el módulo Project de Odoo. Permite generar ordenes de compra y venta a partir de una tarea.
                    </p>
                    <a href="https://github.com/LucioBisiach/task_to_sale_purchase_order"><i class="fa fa-github"></i></a>
                </div>
                <br>
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-1">
                <img src="../assets/img/logo.png" alt="logo-odoo" class="logo-proyect">
            </div>
            <div class="col-md-4 textitos">
                <div class="container">
                    <p class="contenido">
                        <strong>Instalación Localización Argentina</strong>
                        <br> Instalación de Localización Argentina (Adhoc y CTMIL) para Odoo 11 y 13.
                    </p>
                </div>
                <br>
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-1">
                <img src="../assets/img/logo3.png" alt="logo-odoo" class="logo3-proyect">
            </div>
            <div class="col-md-4 textitos">
                <div class="container">
                    <p class="contenido">
                        <strong>Gestión de Gastos</strong>
                        <br>App web hecha en Angular, Firebase y Bootstrap. Permite controlar gastos de empleados, logueados con Google.
                    </p>
                    <a href="https://github.com/LucioBisiach/control-de-gastos"><i class="fa fa-github"></i></a>
                </div>
                <br>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </section>
    <section class="espacio centrar">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <hr>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </section>
    <section class="centrar">
        <footer>
            <div class="row">
                <div class="col-md-12">
                    <h4>
                        Este sitio es de código abierto y pueden verlo aca <a href=""><i class="fa fa-github"></i></a>
                    </h4>
                    <h5>
                        Bisiach Lucio - 2020
                    </h5>
                </div>
            </div>
        </footer>
    </section>
    <section class="espacio centrar">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </section>


</body>