@keyframes swing {
    0%,
    100% {
        transform: rotate(-30deg);
    }
    20% {
        transform: scale(.95);
    }
    50% {
        transform: rotate(30deg);
    }
    80% {
        transform: scale(.95);
    }
}

#sweetlandia {
    animation: swing 2s infinite ease-in-out;
}

.event {
    margin: 50px auto;
    text-align: center;
}

.titulo {
    padding: 20px;
}

.contacto {
    float: right;
    padding: 10px;
    color: black;
    font-size: 25px;
}

.contacto:hover {
    color: darkgrey
}

.logo {
    width: 80%;
    padding-top: 30vh;
    padding-left: 10px;
    margin: 0px;
}

.logo-proyect {
    height: 100px;
    width: 100px;
    margin-right: 30px;
}

.logo3-proyect {
    height: 125px;
    width: 100px;
    margin-right: 30px;
}

.acercade-texto {
    font-size: 30px;
}

.espacio {
    margin-top: 50px;
    margin-bottom: 50px;
}

.justificar {
    text-align: left;
    padding: 10px;
    margin-left: 10px;
}

.centrar {
    text-align: center;
}

.titulitos {
    text-decoration: underline black;
    font-size: 50px;
    float: left;
    margin-left: 0px;
    padding-left: 15px;
}

.textitos {
    float: left;
    padding-left: 0;
    margin-left: 0;
    padding-left: 15px;
}

.contenido {
    font-size: 30px;
}

.contenido2 {
    font-size: 20px;
}

.space-icons {
    font-size: 80px;
    float: left;
    padding-left: 15px;
}

body {
    font-family: 'Economica', sans-serif;
}

nav ul h4 {
    letter-spacing: 1px;
}

nav ul h2 {
    letter-spacing: 1px;
}

.icons-git {
    color: black;
}

.icons-git:hover {
    color: darkgrey;
}